# Code que tu veux ignorer
rag_be/
rag_quanti/

# Caches Python
__pycache__/
*.pyc

# Environnements virtuels
.venv/
venv/
.conda/
conda/

# Config claude
.claude
.env
.env.example


# Autres fichiers volumineux ou générés
*.zip
*.csv
*.parquet
*.pkl
*.txt

# Fichiers système VS Code
.vscode/
